.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
.emberharmony/
*~
playground
tmp
.tmp
dist
dist-local
**/dist-local/
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
emberharmony.json
.quarantine/
.git.old-*/
a.out
target
.scripts
.direnv/
.xdg/

# Local dev files
emberharmony-dev
logs/
*.bun-build
